labs-questionnaire-template-web/src/main/resources/XSDforWizard.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="questionnaire-forms">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="questionnaire-form" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="form-name"/>
                            <xs:element name="pages">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="page" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="groups-of-questions">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="group" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string"
                                                                                        name="group-name"/>
                                                                            <xs:element name="questions">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="question"
                                                                                                    maxOccurs="unbounded">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                            type="xs:string"
                                                                                                            name="question-title"/>
                                                                                                    <xs:element
                                                                                                            type="q-type"
                                                                                                            name="question-type"/>
                                                                                                    <xs:element
                                                                                                            name="rules">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                        name="rule"
                                                                                                                        maxOccurs="unbounded">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element
                                                                                                                                    type="xs:string"
                                                                                                                                    name="parentId"/>
                                                                                                                            <xs:element
                                                                                                                                    type="xs:string"
                                                                                                                                    name="method"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                            type="xs:string"
                                                                                                            name="help-text"/>
                                                                                                    <xs:element
                                                                                                            name="options">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                        type="xs:string"
                                                                                                                        name="option"
                                                                                                                        maxOccurs="unbounded"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                            name="range">
                                                                                                        <xs:complexType>
                                                                                                            <xs:attribute
                                                                                                                    type="xs:string"
                                                                                                                    name="value"/>
                                                                                                            <xs:attribute
                                                                                                                    type="xs:int"
                                                                                                                    name="range-begin"/>
                                                                                                            <xs:attribute
                                                                                                                    type="xs:int"
                                                                                                                    name="range-end"/>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                            name="grid">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                        name="columns">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element
                                                                                                                                    type="xs:string"
                                                                                                                                    name="column"
                                                                                                                                    maxOccurs="unbounded"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                                <xs:element
                                                                                                                        name="rows">
                                                                                                                    <xs:complexType>
                                                                                                                        <xs:sequence>
                                                                                                                            <xs:element
                                                                                                                                    type="xs:string"
                                                                                                                                    name="row"
                                                                                                                                    maxOccurs="unbounded"/>
                                                                                                                        </xs:sequence>
                                                                                                                    </xs:complexType>
                                                                                                                </xs:element>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                    <xs:element
                                                                                                            name="default-answers">
                                                                                                        <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                <xs:element
                                                                                                                        type="xs:string"
                                                                                                                        name="default-answer"
                                                                                                                        maxOccurs="unbounded"/>
                                                                                                            </xs:sequence>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute
                                                                                                        type="xs:boolean"
                                                                                                        name="answer-required" use="required"/>
                                                                                                <xs:attribute
                                                                                                        type="xs:string"
                                                                                                        name="question-id" use="required"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="group-id" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="page-id" use="required"/>
                                                <xs:attribute type="xs:int" name="page-number" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="form-id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="q-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="PARAGRAPHTEXT"/>
            <xs:enumeration value="MULTIPLECHOICE"/>
            <xs:enumeration value="CHECKBOX"/>
            <xs:enumeration value="CHOOSEFROMLIST"/>
            <xs:enumeration value="RANGE"/>
            <xs:enumeration value="GRID"/>
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="TIME"/>
            <xs:enumeration value="FILEUPLOAD"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>


